/* CAROUSEL ELEMENTS */
.img-slider {
    margin-top: 4rem;
    margin-left: 3.5rem;
    text-align: center;
    align-content: center;
}

.img-slider-1 {
    justify-content: center;
    text-align: center;
    padding-top: 25px;
    align-items: center;
    display: flex;
}

.img-item {
    display: flex;
    width: 80%;
    margin: 0 auto;
    position: relative;
    height: 375px;
}

.slider-card {
    width: 18rem;
    background-color: transparent !important;
    border: none;
}

/* SIDEBAR ELEMENTS */
.sidebar-btn {
    background-color: transparent !important;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    margin-left: 25px;
    transform: translate(5px, 28px)
}

.my-sidenav {
    background-color: #363636 !important;
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sidenav-btn {
    background-color: transparent !important;
}

.sliding-pane {
    width: 25%;
    background-color: grey;
    transform: translate(80%, 0px);
    height: 100vh;
}

/* MODAL */
.main-modal {
    padding-top: 20vh;
    padding-left: 4vh;
}

.main-search-modal {
    padding-top: 10vh;
    padding-left: 4vh;
}

.modal-body {
    overflow-y: auto;
    max-height: 300px;
    color: #363636;
}

.modal-search-body {
    overflow-y: auto;
    max-height: 500px;
}

.lucky-img {
    max-height: 23rem;
    height: 23rem;
}

.lucky-name {
    font-family:"Archivo";
    font-weight: bolder;
}

/*   Modal */
.compare-modal-main {
    height: 80vh !important;
    overflow: hidden;
    padding-top: 10vh;
    padding-left: 4vh;
}

.shuffle-btn {
    background-color: transparent !important;
    border-radius: 12px;
    float: right;
    margin-top: -.8rem;
    border-width: 1px;
    border-color:#36392D;
}

.lucky-modal-main {
    height: 200vh !important;
    padding-top: 10vh;
    padding-left: 4vh;
}

.main-compare-container {
    padding-left: 10rem;
}

.dropdown-list {
    background-color: transparent !important;
}

.food-item {
    margin-left: -10rem;
    color: #363636;
}

.compare-img {
    display: flex;
    width: 17.4rem;
    height: 13rem;
    margin-top: -0.5rem;
}

.compare-img2 {
    display: flex;
    width: 17.2rem;
    height: 13rem;
    margin-top: 3rem;
}

.compare-img-desc {
    padding-top: 1rem;
}

.compare-btn {
    float: right;
    color: #F15D58;
    border-color: #F15D58;
    border-width: 1.5px;
    background-color: transparent;
    height: 2rem;
    transform: translate(0px, -0.4rem);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.compare-btn:hover {
    color: white;
}

.compare-location {
    margin-top: 1.2rem;
    margin-left: -10rem;
    display: flex;
}
.location1 {
    margin-top: -2.2rem;
    font-size: 18px;
    color: #a9a8a8;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.location2 {
    margin-top: 1rem;
    font-size: 18px;
    color: #a9a8a8;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.hour1 {
    margin-top: -2.1rem;
    font-size: 18px;
    color: #a9a8a8;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.hour2 {
    margin-top: 1.1rem;
    font-size: 18px;
    color: #a9a8a8;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

/* CARD */

.lucky-card-main {
    max-height: 40rem;
}

.lucky-nav {
    margin-left: -1rem;
    font-size: large;
}

.search-card {
    /* width: 28.1rem; */
    width: 97.5% !important;
    margin-right: 39.5rem;
    margin-left: -1rem;
}

.category-card-main {
    width: 30rem;
    margin-left: -1.5rem;
}

.card-main {
    max-height: 180px;
}

.card-img {
    display: flex;
    width: 28%;
    float: left;
    margin: 0 auto;
    position: relative;
    height: 120px;
    padding-right: 10px;
}

.search-card-img {
    display: flex;
    width: 6.93rem;
    float: left;
    margin: 0 auto;
    position: relative;
    height: 120px;
    padding-right: 10px;
    border-radius: 25px;
}

.search-card-body { 
    display: flex;
    text-align: left;
    color: #363636;
}

.card-title1 {
    margin-bottom: -10px;
    color: #363636;
}

.search-card-title1 {
    margin-bottom: .1rem;
    display: flex;
    color: #363636;
}

.card-nav {
    color: black !important;
}

/* SEARCH MODAL */
.search-header{
    justify-content: center;
    display: flex;
    align-items: center;
}

.search-title {
    align-items: center !important;
    text-align: center !important;
    font-weight: bolder;
    padding-left: 1.2rem;
    font-size: larger;
    color: #36392D;
}

.search-subtitle {
    text-align: center !important;
    font-size: large;
    font-weight: 300;
    color: #36392D;
    padding-left: 1.5rem;
}

.compare-subtitle {
    font-size: large;
    font-weight: 300;
    color: #36392D;
}

.lucky-title {
    font-weight: bolder;
    font-size: larger;
    color: #36392D;
    text-align: left;
}

.lucky-subtitle {
    text-align: left;
    font-size: large;
    font-weight: 300;
    color: #36392D;
}

/* Styles for wrapping the search box */
.main {
    width: 100%;
    margin: 0px auto
}

/* Bootstrap 4 text input with search icon */

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}


/* Compare Select */
.basic-select {
    border-color: red !important;
}